<!DOCTYPE html>
<html>
<head>
    <title>Simple Web App</title>
    <style>
        #loading {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Availability</h1>
    <p>Last Refreshed: {{ last_refreshed_time }}</p>
    <button id="refresh-button">Refresh</button>
    <div id="loading">Loading...</div>
    <table border="1" id="data-table">
        <tr>
            <th>Location</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['Location'] }}</td>
            <td>{{ row['Date'] }}</td>
            <td>{{ row['Start Time'] }}</td>
            <td>{{ row['End Time'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        const refreshButton = document.getElementById('refresh-button');
        const dataTable = document.getElementById('data-table');
        const loadingIndicator = document.getElementById('loading');
        let isLoading = false;

        refreshButton.addEventListener('click', () => {
            if (isLoading) {
                return;  // Prevent multiple clicks while loading
            }
             // Set loading state
            isLoading = true;
            // Show the loading indicator
            loadingIndicator.style.display = 'block';

            fetch('/refresh')
                .then(response => response.json())
                .then(data => {
                    alert(data.message)
                    loadingIndicator.style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                    // Ensure the loading indicator is hidden in case of an error
                    loadingIndicator.style.display = 'none';
                });
        });
    </script>
</body>
</html>
